@charset "UTF-8";
/*less写法*/
.width {
  /*类名和属性名变量*/
  width: 200px;
  background: #ff0000;
}
.width p {
  font-size: 20px;
}
.content {
  background: #ddd;
}
.content ul {
  list-style: none;
}
.content ul li {
  height: 25px;
  line-height: 25px;
  padding-left: 15px;
}
.content ul li a {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
}
