@charset "UTF-8";
/*less写法*/
@import "header.less"; //引入头部样式
.content ul{
  list-style: none;
  li{
    height:25px;
    line-height:25px;
    padding-left :  15px;
    a{
      text-decoration: none;
      color : #535353;
      font-size : 20px;
    }
  }
}